@tailwind base;
@tailwind components;
@tailwind utilities;



@media (min-width: 1024px) and (max-width: 1350px) {
  .Home-result-gird {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }

  .home-other-none {

    justify-content: center;
    gap: 0px;
  }

  .home-img-none {
    display: none;
  }

  .custom-size-leftMenu {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .home-other-none {

    justify-content: center;
    gap: 0px;
  }

  .home-img-none {
    display: none;
  }
}


@media (min-width: 320px) and (max-width:767px) {
  .home-other-none {
    display: none !important;
  }
}


@media (min-width: 768px) and (max-width:1400px) {
  .leftMenu-hidden {
    display: none;
  }
}

.stats-graph {
  background: linear-gradient(180deg, rgba(255, 166, 0, 0.1) 0%, rgba(255, 166, 0, 0.05) 100%);
  border-radius: 12px;
}

.profile-dots {
  position: relative;
}

.profile-dots::before,
.profile-dots::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffa600;
}

.profile-dots::before {
  top: -12px;
  right: -12px;
}

.profile-dots::after {
  bottom: -12px;
  left: -12px;
}